%h3 Create A New Location

= form_for @location || Location.new do |f|
  %div
    = f.label :name
    = f.text_field :name
  %div
    = f.label :meeting_point
    = f.text_field :meeting_point
  %div
    = f.label :address
    = f.text_field :address
  %div
    = f.label :day
    = f.select :day, [['Monday', 1], ['Tuesday', 2], ['Wednesday',3], ['Thursday',4], ['Friday',5], ['Saturday',6], ['Sunday',7]]
  %div
    = f.submit